// Define variables for your color scheme

// For example:
$pink: #EA4E6F;
$mint: #F8FFFA;
$mint-transparent: rgba(248, 255, 250, 0.5);
$lightpink: #F6C7D1;
$orange: #E67E22;
$green: #CBEBD8;
$gray: #484848;
$light-gray: #f2f2f2;
$darker-gray: rgb(230, 230, 230);
$white: #F8F8FF;
$darkmint: #CBEBD8;
$deny-red: #FD3636;
$approve-green: #7ADD90;

