// Define variables for your color scheme

// For example:
$pink: #EA4E6F;
$pink-transparent: rgba(234, 78, 111, 0.1);
$mint: #F8FFFA;
$mint-transparent: rgba(248, 255, 250, 0.5);
$lightpink: #F6C7D1;
$orange: #E67E22;
$green: #a3f7c5;
$gray: #484848;
$light-gray: #f2f2f2;
$medium-gray: rgb(180,180,180);
$darker-gray: rgb(230, 230, 230);
$white: #F8F8FF;
$darkmint: #CBEBD8;
$deny-red: #FD8B93;
$approve-green: rgb(122, 221, 144);
$approve-green-transparent: rgba(122, 221, 144, 0.2);
$current-blue: rgb(160, 212, 255);
$current-blue-transparent: rgba(160, 212, 255, 0.2);
$past-orange: rgb(255, 191, 141);
$past-orange-transparent: rgba(255, 191, 141, 0.2);

