// Define variables for your color scheme

// For example:
$pink: #EA4E6F;
$mint: #F8FFFA;
$lightpink: #F6C7D1;
$orange: #E67E22;
$green: #CBEBD8;
$gray: #484848;
$light-gray: #f2f2f2;
$white: #F8F8FF;
