<% title 'Your Bookings' %>

<div class="wrapper">
  <div class="table-container">
    <%= render partial: 'shared/table', locals: { bookings: @pending_bookings, title: 'Pending Bookings' } %>
    <% unless @active_bookings.empty? %>
      <%= render partial: 'shared/table', locals: { bookings: @active_bookings, title: 'Active Bookings' } %>
    <% end %>

    <% unless @past_bookings.empty? %>
      <%= render partial: 'shared/table', locals: { bookings: @past_bookings, title: 'Past Bookings' } %>
    <% end %>
  </div>
</div>
