<div class="wrapper">
  <div class="column">
    <h1>Your Bundle</h1>
    <p>Confirmation Code: <%= %w(k d e K 4 2 0 d 8 I L e m b x).sample(12).join %></p>

    <div class="booking-info">
      <div class="checkin">
        <p>Start Date</p>
        <!-- <p class="date"><%=  %></p> startdate -->
      </div>
      <div class="checkout">
        <p>End Date</p>
        <!-- <p class="date"><%=  %></p> enddate -->
      </div>
      <div class="nights">
        <!-- <%=  %> days -->
      </div>
      <p>Days</p>
    </div>
  </div>
</div>
