<div class="item-card">
  <p class="item-icon"><i class="fas fa-tshirt"></i></p>
  <p class="item-name"> <%= name %> </p>
  <p class="item-category"> <strong>Category:</strong> <%= category %></p>
  <p class="item-condition"> <strong>Condition:</strong> <%= condition %></p>
  <p class="item-color"> <strong>Color:</strong> <%= color %></p>
</div>
