<div class="container">
  <h1 class="text-center"> <%= current_user.first_name.titleize %>'s Bundles </h1>
  <br>
  <%= render 'shared/list_bundle_cards' %>
  <br>
  <div class="container">
    <% if policy(Bundle).create? %>
      <p><%= link_to "Add a Bundle", new_bundle_path %></p>
    <% end %>
  </div>
</div>
