.bundles-card {
  padding: 10px;
  border: 1px solid rgb(240, 240, 240);
  border-radius: 5px;
  &:hover {
    text-decoration: none !important;
    transform-origin: center;
    transition: transform .2s cubic-bezier(0,0,.2,1),box-shadow .2s cubic-bezier(0,0,.2,1);
    box-shadow: 0 5px 10px $pink
    transform: translateY(-10px);
  }
}

.bundle-image img {
  border-radius: 5px;
  text-align: center;
  &:hover {
  }
}

.bundle-description {
  color: $gray;
  font-weight: 700;
  font-size: 16px;
}

.icons {
  display: flex;
}

.bundle {
  display: flex;
}

.large-image {
  align-self: center;
  margin: 10px;
}

.large-description {
  margin: 10px;
}

.fas {
  color: $pink;
}
.controls {
  display: flex;
  margin-top: 20px;
  justify-content: space-around;
}
.bundle-photo {
  max-width: 100%;
}
