.text-center {
  text-align: center;
}

.review_form {
  border-radius: 5px;
  padding: 10px 30px;
  margin-top: 20px;

  h2 {
    margin-top: 0;
  }
}

.form-actions {
  display: flex;
  justify-content: space-around;
}

.form:empty {
  display: none;
}
