.text-center {
  text-align: center;
}

.form {
  background-color: white;
  border-radius: 5px;
  padding: 10px 30px;
  margin-top: 20px;
  border: 1px solid $darker-gray;

  h2 {
    margin-top: 0;
  }
}

.form-actions {
  display: flex;
  justify-content: space-around;
}
