.reviews {
  display: flex;
  justify-content: center;
}

.review_card {
  padding: 10px;
  border: 1px solid rgb(240, 240, 240);
  margin: 10px;
  margin-left: 20px;
  background-color: #FFFFFF;
}

.review_stars {
  display: flex;
  justify-content: space-between;
}
