.wrapper {
  background-color: #F5F7FA;
}

.table-container {
  max-width: 1000px;
  margin: 0 auto;
  font-size: 14px;

  p {
    margin-bottom: 0;
  }
}

.table-header {
  width: 78%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 10px;
  padding-left: 10px;

  p {
    font-size: 12px;
    color: #7b7b7b;
    font-weight: bold;
    text-transform: uppercase;
  }

  .table-bundle-name {
    width: 150px;
  }
  .table-bundle-user {
    width: 175px;
  }
  .table-bundle-email {
    width: 200px;
  }
  .table-bundle-dates {
    width: 150px;
  }
  .table-bundle-days {
    width: 50px;
  }

}

.table-row {
  display: flex;
  align-items: center;
  background-color: white;
  width: 100%;
  justify-content: space-between;
  border: 1px solid $darker-gray;
  border-radius: 3px;
  box-shadow: 3px 2px 1px rgba(230, 230, 230, 0.4);
  padding: 20px 10px;
  margin-bottom: 5px;
    &:hover {
    // border: 1px solid $dark-gray;
    box-shadow: 3px 2px 1px rgba(230, 230, 230, 1);
  }
}

// .table-row:hover {
//   background-color: white;
// }
.table-item-name {
  width: 100px;
}
.table-img {
  width: 40px;
}
.table-user {
  width: 175px;
}
.table-email {
  width: 200px;
}
.table-dates {
  width: 150px;
}
.table-days {
  width: 50px;
}
.table-total-price {
  width: 100px;
}
.current {
  color: $current-blue;
  background-color: $current-blue-transparent;
  padding: 3px 4px;
  border-radius: 4px;
  p > .fas {
    color: $current-blue;
  }
}

.future {
  color: $approve-green;
  background-color: $approve-green-transparent;
  padding: 3px 4px;
  border-radius: 4px;
  p > .fas {
    color: $approve-green;
  }
}

.past {
  color: $past-orange;
  background-color: $past-orange-transparent;
  padding: 3px 4px;
  border-radius: 4px;
  p > .fas {
    color: $past-orange;
  }
}


.avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%
}

.btn-approve {
  padding:5px 15px;
  border-radius: 10px;
  color: white;
  background-color: $approve-green;
  opacity: 1;
}

.btn-approve:hover {
  color: white;
  opacity: .8;
  text-decoration: none;
}

.btn-deny {
  padding:5px 15px;
  border-radius: 10px;
  color: white;
  background-color: $deny-red;
  opacity: 1;
}

.btn-deny:hover {
  color: white;
  opacity: .8;
  text-decoration: none;
}
