<hr>
<div class="reviews" >
  <div class="review_form">
    <% if @can_i_review %>
      <%= render 'reviews/form', bundle: @bundle, review: Review.new %>
    <% end %>
  </div>
  <div class="past_reviews" id="jsreview">
    <% unless @bundle.reviews.nil? %>
      <% @bundle.reviews.each do |review| %>
      <%= render 'reviews/review', review: review %>
      <% end %>
    <% end %>
  </div>
</div>
